/* prettier-ignore */
:root {
  --color-key:  #859a93;
  --color-bg:   #fffcf7;
  --color-text: #544739;
  --color-text-sub: #a89f97;

  --color-white: #ffffff;
  --color-red:   #c24545;

  --fs-base: 1rem;   /* 16px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-lg: 1.25rem;  /* 20px */
  --fw-regular: 400;
  --fw-bold: 600;
  --line-height: 1.5;

  --space-2xs: 0.25rem; /* 4px */
  --space-xs: 0.5rem;   /* 8px */
  --space-sm: 1rem;     /* 16px */
  --space-md: 1.5rem;   /* 24px */
  --space-lg: 2rem;     /* 32px */
  --space-xl: 3rem;     /* 48px */
}

@media (prefers-color-scheme: dark) {
  /* ダークテーマ配色 */
  :root {
    --color-key: #9abfb7;
    --color-bg: #1e1e1e;
    --color-text: #f0f0f0;
    --color-text-sub: #a0a0a0;

    --color-white: #cccccc;
    --color-red: #e36060;
  }
}

/* --- Reset --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-size: 100%;
  text-size-adjust: none;
  overflow-wrap: break-word;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* --- Base  --- */
body {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
  font-size: var(--fs-base);
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

textarea:not([rows]) {
  min-height: 4em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus-visible {
  outline: auto;
}

:is(h1, h2, h3, h4):target {
  scroll-margin-block: var(--space-sm);
}
