:root {
  --color-base: #e9e3cd;
  --color-background: #071f3b;
  --color-primary: #342929;
  --color-accent: #b55829;
  --color-contrast: #d3d1cf;
  --color-separate: #45392f;
  --color-secondary: #b57f51;
}

@theme {
  --color-c-base: var(--color-base);
  --color-c-primary: var(--color-primary);
  --color-c-secondary: var(--color-secondary);
  --color-c-accent: var(--color-accent);
  --color-c-separate: var(--color-separate);
  --color-c-contrast: var(--color-contrast);
}

@layer base {
  body {
    color: var(--color-base);
    background-color: var(--color-background);
  }
}

@layer components {
  .bg-psychubes {
    background-image: url("/images/psychubes/bg-psychubes.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .filter-options {
    @apply flex flex-wrap gap-1 pr-2;
  }

  .btn-filter {
    @apply border border-solid border-c-base rounded-sm
    px-2 py-0.5
    transition-colors duration-300 cursor-pointer whitespace-nowrap;
  }
  .btn-filter:not([data-active="true"]):hover {
    @apply bg-c-separate;
  }
  .btn-filter[data-active="true"] {
    @apply border-c-accent bg-c-accent font-bold;
  }
}

@import "tailwindcss";
